@model IEnumerable<WebApplication1.Models.Setor>

@{
    ViewData["Title"] = "Index";
}

<h1>Setores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.SetorID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.SetorID" onclick="return confirm('Deseja realmente excluir esse Setor?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
